@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

.overflow-x-auto {
  /* Enable horizontal scrolling */
  overflow-x: auto;
  /* Hide the scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.overflow-x-auto::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers (like Chrome, Safari) */
}

.icon-o {
  svg {
    height: 10px;
    margin-bottom: 5px;
  }
}

/* Input Radio Button */
input[type='radio'] {
  @apply w-[20px] h-[20px] bg-transparent rounded-full border border-2 border-orange shadow-sm p-0 m-1;
  outline: none;
  border-radius: 100%;
}
input[type='radio']:hover {
  @apply bg-orange;
}
input[type='radio']:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
input[type='radio']:checked:before {
  @apply bg-orange;
  border-radius: 100%;
}
