openapi: 3.0.0
info:
  title: Portal da Classe Politica API
  version: 1.0.0
  description: API portal da classe politica
servers:
  - url: http://redem.c3sl.ufpr.br/v1/api
    description: 'Servidor de desenvolvimento'
tags:
  - name: abrangency
    description: Rotas para buscar abrangencias
  - name: electoralUnit
    description: Rotas para buscar unidades eleitorais
  - name: candidate
    description: Rotas para buscar candidatos

paths:
  # Abrangency
  /noauth/abrangency:
    get:
      tags:
        - abrangency
      operationId: 'getAbrangency'
      summary: Obter abrangências disponíveis
      description: Retorna as abrangências disponíveis para candidatos.
      responses:
        '200':
          description: Lista de abrangências disponíveis.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indica se a operação foi bem-sucedida.
                    example: true
                  message:
                    type: string
                    description: Mensagem de sucesso.
                    example: 'abrangencias encontradas.'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: ID da abrangência.
                          example: 1
                        nome:
                          type: string
                          description: Nome da abrangência.
                          example: 'FEDERAL'
                        descricao:
                          type: string
                          description: Descrição da abrangencia
                          example: 'Abrangencia utilizada nos cargos de Deputado Estadual, Deputado Federal, Governador, Senador, Deputado Distrital e Presidente.'
        '500':
          description: Erro interno do servidor.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indica se a operação foi bem-sucedida.
                    example: false
                  message:
                    type: string
                    description: Mensagem de erro.
                    example: 'Erro ao encontrar abrangencias'
                  data:
                    type: string
                    description: Detalhes do erro.
                    example: 'Erro ao processar a solicitação.'

  # Electoral Unit
  /noauth/electoral-unit:
    get:
      tags:
        - electoralUnit
      operationId: 'getElectoralUnit'
      summary: Obter unidades eleitorais por abrangência
      description: Retorna as unidades eleitorais disponíveis para uma determinada abrangência.
      parameters:
        - in: query
          name: abrangencyId
          schema:
            type: integer
          required: true
          description: ID da abrangência.
        - in: query
          name: UF
          schema:
            type: string
          required: false
          description: Estado, obrigatório no caso de abrangência municipal.
      responses:
        '200':
          description: Lista de unidades eleitorais encontradas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indica se a operação foi bem-sucedida.
                    example: true
                  message:
                    type: string
                    description: Mensagem de sucesso.
                    example: 'Unidades eleitorais encontradas.'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: ID da unidade eleitoral.
                          example: 1
                        nome:
                          type: string
                          description: Nome da unidade eleitoral.
                          example: 'São Paulo'
        '500':
          description: Erro interno do servidor.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indica se a operação foi bem-sucedida.
                    example: false
                  message:
                    type: string
                    description: Mensagem de erro.
                    example: 'Erro ao encontrar unidades eleitorais'
                  data:
                    type: string
                    description: Detalhes do erro.
                    example: 'Erro ao processar a solicitação.'
  /noauth/electoral-unit/get-ufs:
    get:
      tags:
        - electoralUnit
      operationId: 'getUfs'
      summary: Obter unidades federativas
      description: Retorna todas as unidades federativas.
      responses:
        '200':
          description: Lista de unidades federativas encontradas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indica se a operação foi bem-sucedida.
                    example: true
                  message:
                    type: string
                    description: Mensagem de sucesso.
                    example: 'Unidades eleitorais encontradas.'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        sigla_unidade_eleitoral:
                          type: string
                          description: Nome da unidade federativa.
                          example: 'SP'
        '400':
          description: Erro de requisiçao.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indica se a operação foi bem-sucedida.
                    example: false
                  message:
                    type: string
                    description: Mensagem de erro caso escolha abrangencia 2 e nao envie estado.
                    example: 'UF é obrigatório para abrangência Municipal.'
                  data:
                    type: object
                    description: Detalhes do erro.
                    example: {}
        '500':
          description: Erro interno do servidor.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indica se a operação foi bem-sucedida.
                    example: false
                  message:
                    type: string
                    description: Mensagem de erro.
                    example: 'Erro ao encontrar unidades eleitorais'
                  data:
                    type: string
                    description: Detalhes do erro.
                    example: 'Erro ao processar a solicitação.'

  # Candidate
  /noauth/candidate:
    get:
      operationId: 'getCandidates'
      tags:
        - candidate
      summary: Busca candidatos
      description: Busca candidatos com base em parâmetros como nome, UF, abrangência, unidade eleitoral e página.
      parameters:
        - in: query
          name: name
          schema:
            type: string
          description: Nome ou nome de urna do candidato
        - in: query
          name: UF
          schema:
            type: string
          description: Unidade Federativa
        - in: query
          name: abrangencyId
          schema:
            type: string
          description: ID da abrangência
        - in: query
          name: electoralUnitId
          schema:
            type: string
          description: ID da unidade eleitoral
        - in: query
          name: page
          schema:
            type: integer
          description: Número da página para paginação
      responses:
        '200':
          description: Lista de candidatos encontrada
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 'Indica o sucesso da requisição.'
                    example: true
                  data:
                    type: object
                    properties:
                      totalResults:
                        type: integer
                        description: 'Indica a quantidade de candidatos que foram encontrados com os parâmetros.'
                        example: 1822832
                      currentPage:
                        type: integer
                        description: 'Indica a pagina atual.'
                        example: 1
                      totalPages:
                        type: integer
                        description: 'Indica a quantidade total de paginas encontradas.'
                        example: 182284
                      results:
                        type: array
                        items:
                          type: object
                          properties:
                            lastCandidatoEleicaoId:
                              type: integer
                              example: 2294466
                            partido:
                              type: string
                              example: PRB
                            nomeCandidato:
                              type: string
                              example: SYLVIA JANE HODGE CRIVELLA
                            situacao:
                              type: string
                              example: APTO
                            cargo:
                              type: string
                              example: 1º SUPLENTE
                            nomeUrna:
                              type: string
                              example: JANE CRIVELLA
                            ultimaEleicao:
                              type: integer
                              example: 2018
                            candidatoId:
                              type: integer
                              example: 45111
                  message:
                    type: string
                    example: Candidatos encontrados com sucesso.
        '400':
          description: Requisição inválida
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  data:
                    type: object
                  message:
                    type: string
                    example: Na abrangência selecionada é necessário informar a unidade eleitoral.
        '500':
          description: Erro no servidor
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  data:
                    type: object
                  message:
                    type: string
                    example: Erro ao buscar os candidatos.
  /noauth/candidate/detail/{candidatoId}:
    get:
      operationId: 'getCandidate'
      tags:
        - candidate
      summary: Detalhe de candidato pelo id
      description: Busca candidato com base no id
      parameters:
        - in: path
          name: candidatoId
          schema:
            type: string
          required: true
          example: '415180'
          description: Id do candidato para detalhe
      responses:
        '200':
          description: Resposta bem-sucedida com detalhes do candidato.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      candidato_id:
                        type: integer
                        example: 838503
                      municipio_nascimento:
                        type: string
                        example: 'CARMO DO CAJURU'
                      estado_nascimento:
                        type: string
                        example: 'MG'
                      nome:
                        type: string
                        example: 'ADEMIR OSMAR DOS SANTOS'
                      data_nascimento:
                        type: string
                        format: date-time
                        example: '1950-09-04T03:00:00.000Z'
                      genero:
                        type: string
                        example: 'MASCULINO'
                      raca:
                        type: string
                        example: 'Não informada'
                      ocupacao:
                        type: string
                        example: 'COMERCIANTE'
                      coligacao:
                        type: string
                        example: 'PMDB / PT'
                      partido:
                        type: string
                        example: 'PARTIDO DO MOVIMENTO DEMOCRÁTICO BRASILEIRO'
                      sigla_partido:
                        type: string
                        example: 'PMDB'
                      nome_atual:
                        type: string
                        example: 'MDB'
                      class_categ_1:
                        type: string
                        example: 'Centro'
                      class_categ_4:
                        type: string
                        example: 'Secular centre'
                      class_survey_esp:
                        type: string
                        example: 'Centro-direita'
                      grau_de_instrucao:
                        type: string
                        example: 'ENSINO FUNDAMENTAL COMPLETO'
                      bens_declarados:
                        type: number
                        example: 3500
                      cidade_nascimento:
                        type: string
                        example: 'CARMO DO CAJURU'
                      ultimo_cargo:
                        type: string
                        example: 'VEREADOR'
                      ultima_unidade_eleitoral:
                        type: string
                        example: 'MG - CARMO DO CAJURU'
                      ultima_situacao_candidatura:
                        type: string
                        example: 'APTO'
                  message:
                    type: string
                    example: 'Candidato encontrado com sucesso.'
  /noauth/candidate/last-election-votes-by-region/{candidatoId}:
    get:
      operationId: 'getCandidateLastElectionVoteByRegion'
      tags:
        - candidate
      summary: Votos por cidade da ultima eleicao do candidato
      description: Busca candidato com base no id
      parameters:
        - in: path
          name: candidatoId
          schema:
            type: string
          required: true
          example: '415180'
          description: Id do candidato para detalhe
      responses:
        '200':
          description: Resposta bem-sucedida contendo os votos por município
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Votos encontrados com sucesso.
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        municipio:
                          type: string
                          example: RIO GRANDE
                        codigo_ibge:
                          type: string
                          example: '4315602'
                        votos:
                          type: integer
                          example: 13505
  /noauth/candidate/get-last-5-last-elections-votes/{candidatoId}:
    get:
      operationId: 'getCandidateLastFiveElectionVotes'
      tags:
        - candidate
      summary: Votos por ano das ultimas 5 eleicoes do candidato
      description: Busca votos das ultimas 5 eleicoes do candidato com base no id
      parameters:
        - in: path
          name: candidatoId
          schema:
            type: string
          required: true
          example: '415180'
          description: Id do candidato para detalhe
      responses:
        '200':
          description: Resposta com os votos encontrados
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Votos encontrados com sucesso.
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        ano_eleicao:
                          type: integer
                          example: 2002
                        total_votos:
                          type: integer
                          example: 38074
        '500':
          description: Erro ao buscar os votos
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  data:
                    type: object
                    example: {}
                  message:
                    type: string
                    example: Erro ao buscar os votos

  /noauth//candidate/kpis/{candidatoId}:
    get:
      operationId: 'getCandidateKpis'
      tags:
        - candidate
      summary: KPIs candidato pelo id
      parameters:
        - in: path
          name: candidatoId
          schema:
            type: string
          required: true
          example: '415180'
          description: Id do candidato para detalhe
      responses:
        '200':
          description: Resposta bem-sucedida com detalhes do candidato.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
                    example: 'Candidato encontrado com sucesso.'

  # Consult
  # Consult - Filters
  /noauth/candidate/get-filters:
    get:
      operationId: 'getCandidateFilters'
      tags:
        - consult
      summary: Obter filtros de candidatos
      description: Retorna os filtros disponíveis para candidatos.
      parameters:
        - in: query
          name: dimension
          schema:
            type: string
            nullable: true
          required: true
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      cargo:
                        type: object
                        properties:
                          type:
                            type: string
                          values:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                nome_cargo:
                                  type: string
                                abrangenciumId:
                                  type: integer
                      foiEleito:
                        type: object
                        properties:
                          type:
                            type: string
                          values:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                label:
                                  type: string
                      turnos:
                        type: object
                        properties:
                          type:
                            type: string
                          values:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                label:
                                  type: string
                      genero:
                        type: object
                        properties:
                          type:
                            type: string
                          values:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                nome_genero:
                                  type: string
                      estado:
                        type: object
                        properties:
                          type:
                            type: string
                          values:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                sigla_unidade_eleitoral:
                                  type: string
                                nome:
                                  type: string
                                sigla_unidade_federacao:
                                  type: string
                                codigo_ibge:
                                  type: integer
                                  nullable: true
                                abrangenciumId:
                                  type: integer
                      categorias:
                        type: object
                        properties:
                          type:
                            type: string
                          values:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                nome:
                                  type: string
                      partidos:
                        type: object
                        properties:
                          type:
                            type: string
                          values:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                sigla:
                                  type: string
                                nome:
                                  type: string
                                nome_atual:
                                  type: string
                                class_categ_1:
                                  type: string
                                class_categ_4:
                                  type: string
                                class_survey_esp:
                                  type: string
                      possibilities:
                        type: object
                        properties:
                          type:
                            type: string
                          values:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                label:
                                  type: string
                      anos:
                        type: object
                        properties:
                          type:
                            type: string
                          values:
                            type: array
                            items:
                              type: integer
                  message:
                    type: string

        '400':
          description: Requisição inválida
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  data:
                    type: object
                    example: {}
                  message:
                    type: string
                    example: 'Erro ao buscar os filtros dos candidatos'

  # Consult - Candidate Profile
  /noauth/cruzamentos/candidates-profile/by-year:
    get:
      operationId: 'getCandidateProfileByYear'
      tags:
        - consult
      summary: Perfil dos candidatos por ano
      description: Retorna o perfil dos candidatos agrupado por ano.
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: dimension
          schema:
            type: integer
          required: false
          description: Dimensão de agregação (1, 2, 3).
        - in: query
          name: unidadesEleitoraisIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs das unidades eleitorais desejadas.
        - in: query
          name: isElected
          schema:
            type: integer
          required: false
          description: Situação se foi deleito (0 para ambos, 1, para sim; 2 para não eleitos)
        - in: query
          name: round
          schema:
            type: integer
          required: false
        - in: query
          name: partidos
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos partidos
        - in: query
          name: categoriasOcupacoes
          schema:
            type: array
            items:
              type: string
          required: false
          description: Categoria 1 das ocupações (1,2 ...)
        - in: query
          name: cargosIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos cargos (1,2,3...)
      responses:
        '200':
          description: Resposta bem-sucedida com o perfil dos candidatos por ano.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Perfil dos candidatos por ano encontrado com sucesso.'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        ano:
                          type: integer
                          example: 2022
                        # ... (other properties based on your query results)
  /noauth/cruzamentos/candidates-profile/by-gender:
    get:
      operationId: 'getCandidateProfileByGender'
      tags:
        - consult
      summary: Perfil dos candidatos por gênero
      description: Retorna o perfil dos candidatos agrupado por gênero.
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: dimension
          schema:
            type: integer
          required: false
          description: Dimensão de agregação (1, 2, 3).
        - in: query
          name: unidadesEleitoraisIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs das unidades eleitorais desejadas.
        - in: query
          name: isElected
          schema:
            type: integer
          required: false
          description: Situação se foi deleito (0 para ambos, 1, para sim; 2 para não eleitos)
        - in: query
          name: round
          schema:
            type: integer
          required: false
        - in: query
          name: partidos
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos partidos
        - in: query
          name: categoriasOcupacoes
          schema:
            type: array
            items:
              type: string
          required: false
          description: Categoria 1 das ocupações (1,2 ...)
        - in: query
          name: cargosIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos cargos (1,2,3...)
      responses:
        '200':
          description: Resposta bem-sucedida com o perfil dos candidatos por gênero.
  /noauth/cruzamentos/candidates-profile/by-occupation:
    get:
      operationId: 'getCandidateProfileByOccupation' # New operation ID
      tags:
        - consult
      summary: Perfil dos candidatos por ocupação
      description: Retorna o perfil dos candidatos agrupado por ocupação.
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: dimension
          schema:
            type: integer
          required: false
          description: Dimensão de agregação (1, 2, 3).
        - in: query
          name: unidadesEleitoraisIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs das unidades eleitorais desejadas.
        - in: query
          name: isElected
          schema:
            type: integer
          required: false
          description: Situação se foi deleito (0 para ambos, 1, para sim; 2 para não eleitos)
        - in: query
          name: round
          schema:
            type: integer
          required: false
        - in: query
          name: partidos
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos partidos
        - in: query
          name: categoriasOcupacoes
          schema:
            type: array
            items:
              type: string
          required: false
          description: Categoria 1 das ocupações (1,2 ...)
        - in: query
          name: cargosIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos cargos (1,2,3...)
      responses:
        '200':
          description: Resposta bem-sucedida com o perfil dos candidatos por ocupação.
  /noauth/cruzamentos/candidates-profile/kpis:
    get:
      operationId: 'getCandidateProfileKpis' # New operation ID
      tags:
        - consult
      summary: KPIs para página de cruzamentos Perfil dos candidatos
      description: Retorna os kpis  do perfil dos candidatos.
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: dimension
          schema:
            type: integer
          required: false
          description: Dimensão de agregação (1, 2, 3).
        - in: query
          name: unidadesEleitoraisIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs das unidades eleitorais desejadas.
        - in: query
          name: isElected
          schema:
            type: integer
          required: false
          description: Situação se foi deleito (0 para ambos, 1, para sim; 2 para não eleitos)
        - in: query
          name: round
          schema:
            type: integer
          required: false
        - in: query
          name: partidos
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos partidos
        - in: query
          name: categoriasOcupacoes
          schema:
            type: array
            items:
              type: string
          required: false
          description: Categoria 1 das ocupações (1,2 ...)
        - in: query
          name: cargosIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos cargos (1,2,3...)
      responses:
        '200':
          description: Resposta bem-sucedida com o perfil dos candidatos por ocupação.

  # Consult - Finance
  /noauth/cruzamentos/finance/kpis:
    get:
      operationId: 'getFinanceKpis'
      tags:
        - consult
      summary: KPIs para página de cruzamentos financiamento de campanhas
      description: Retorna os kpis  do perfil dos financimanento.
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: unidadesEleitoraisIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs das unidades eleitorais desejadas.
        - in: query
          name: isElected
          schema:
            type: integer
          required: false
          description: Situação se foi deleito (0 para ambos, 1, para sim; 2 para não eleitos)
        - in: query
          name: round
          schema:
            type: integer
          required: false
        - in: query
          name: partidos
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos partidos
        - in: query
          name: categoriasOcupacoes
          schema:
            type: array
            items:
              type: string
          required: false
          description: Categoria 1 das ocupações (1,2 ...)
        - in: query
          name: cargosIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos cargos (1,2,3...)
        - in: query
          name: dimension
          schema:
            type: number
          required: false
          description: medidas para dimensao, 0 volume total doacoes, 1 quantidade doacoes, 2 fundo eleitoral, 3 volume fundo partidario, 4 volume financiamento privado
      responses:
        '200':
          description: Resposta bem-sucedida.
  /noauth/cruzamentos/finance/by-year:
    get:
      operationId: 'getFinanceByYear'
      tags:
        - consult
      summary: Cruzamentos financiamento de campanhas por ano
      description: Retorna ruzamentos financiamento de campanhas por ano
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: unidadesEleitoraisIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs das unidades eleitorais desejadas.
        - in: query
          name: isElected
          schema:
            type: integer
          required: false
          description: Situação se foi deleito (0 para ambos, 1, para sim; 2 para não eleitos)
        - in: query
          name: round
          schema:
            type: integer
          required: false
        - in: query
          name: partidos
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos partidos
        - in: query
          name: categoriasOcupacoes
          schema:
            type: array
            items:
              type: string
          required: false
          description: Categoria 1 das ocupações (1,2 ...)
        - in: query
          name: cargosIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos cargos (1,2,3...)
        - in: query
          name: dimension
          schema:
            type: number
          required: false
          description: medidas para dimensao, 0 volume total doacoes, 1 quantidade doacoes, 2 fundo eleitoral, 3 volume fundo partidario, 4 volume financiamento privado
      responses:
        '200':
          description: Resposta bem-sucedida.
  /noauth/cruzamentos/finance/by-party:
    get:
      operationId: 'getFinanceByParty'
      tags:
        - consult
      summary: Cruzamentos financiamento de campanhas por partido
      description: Cruzamentos financiamento de campanhas por partido
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: unidadesEleitoraisIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs das unidades eleitorais desejadas.
        - in: query
          name: isElected
          schema:
            type: integer
          required: false
          description: Situação se foi deleito (0 para ambos, 1, para sim; 2 para não eleitos)
        - in: query
          name: round
          schema:
            type: integer
          required: false
        - in: query
          name: partidos
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos partidos
        - in: query
          name: categoriasOcupacoes
          schema:
            type: array
            items:
              type: string
          required: false
          description: Categoria 1 das ocupações (1,2 ...)
        - in: query
          name: cargosIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos cargos (1,2,3...)
        - in: query
          name: dimension
          schema:
            type: number
          required: false
          description: medidas para dimensao, 0 volume total doacoes, 1 quantidade doacoes, 2 fundo eleitoral, 3 volume fundo partidario, 4 volume financiamento privado
      responses:
        '200':
          description: Resposta bem-sucedida com o perfil dos candidatos por ocupação.
  /noauth/cruzamentos/finance/by-location:
    get:
      operationId: 'getFinanceByLocation'
      tags:
        - consult
      summary: Cruzamentos financiamento de campanhas por municpio ou estado
      description: Cruzamentos financiamento de campanhas por municpio ou estado
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: unidadesEleitoraisIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs das unidades eleitorais desejadas.
        - in: query
          name: isElected
          schema:
            type: integer
          required: false
          description: Situação se foi deleito (0 para ambos, 1, para sim; 2 para não eleitos)
        - in: query
          name: round
          schema:
            type: integer
          required: false
        - in: query
          name: partidos
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos partidos
        - in: query
          name: categoriasOcupacoes
          schema:
            type: array
            items:
              type: string
          required: false
          description: Categoria 1 das ocupações (1,2 ...)
        - in: query
          name: cargosIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos cargos (1,2,3...)
        - in: query
          name: dimension
          schema:
            type: number
          required: false
          description: medidas para dimensao, 0 volume total doacoes, 1 quantidade doacoes, 2 fundo eleitoral, 3 volume fundo partidario, 4 volume financiamento privado
      responses:
        '200':
          description: Resposta bem-sucedida .
          content:
            application/json:
              schema:
                type: object

  # Consult - Elections
  /noauth/cruzamentos/elections/kpis:
    get:
      operationId: 'getElectionsKpis'
      tags:
        - consult
      summary: KPIs para a página de eleições
      description: Retorna os KPIs relacionados às eleições.
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: dimension
          schema:
            type: integer
          required: false
          description: Dimensão de agregação (1, 2, 3).
        - in: query
          name: unidadesEleitoraisIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs das unidades eleitorais desejadas.
        - in: query
          name: isElected
          schema:
            type: integer
          required: false
          description: Situação se foi deleito (0 para ambos, 1, para sim; 2 para não eleitos)
        - in: query
          name: round
          schema:
            type: integer
          required: false
        - in: query
          name: partidos
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos partidos
        - in: query
          name: categoriasOcupacoes
          schema:
            type: array
            items:
              type: string
          required: false
          description: Categoria 1 das ocupações (1,2 ...)
        - in: query
          name: cargosIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos cargos (1,2,3...)
      responses:
        '200':
          description: Resposta bem-sucedida com os KPIs das eleições.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'KPIs das eleições encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object
  /noauth/cruzamentos/elections/competition-by-year:
    get:
      operationId: 'getElectionsCompetitionByYear'
      tags:
        - consult
      summary: Competição por ano nas eleições
      description: Retorna dados de competição por ano nas eleições.
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: dimension
          schema:
            type: integer
          required: false
          description: Dimensão de agregação (1, 2, 3).
        - in: query
          name: unidadesEleitoraisIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs das unidades eleitorais desejadas.
        - in: query
          name: isElected
          schema:
            type: integer
          required: false
          description: Situação se foi deleito (0 para ambos, 1, para sim; 2 para não eleitos)
        - in: query
          name: round
          schema:
            type: integer
          required: false
        - in: query
          name: partidos
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos partidos
        - in: query
          name: categoriasOcupacoes
          schema:
            type: array
            items:
              type: string
          required: false
          description: Categoria 1 das ocupações (1,2 ...)
        - in: query
          name: cargosIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos cargos (1,2,3...)
      responses:
        '200':
          description: Resposta bem-sucedida com os dados de competição por ano.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Dados de competição por ano encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object
  /noauth/cruzamentos/elections/top-candidates:
    get:
      operationId: 'getElectionsTopCandidates'
      tags:
        - consult
      summary: Principais candidatos nas eleições
      description: Retorna os principais candidatos nas eleições.
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: dimension
          schema:
            type: integer
          required: false
          description: Dimensão de agregação (1, 2, 3).
        - in: query
          name: unidadesEleitoraisIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs das unidades eleitorais desejadas.
        - in: query
          name: isElected
          schema:
            type: integer
          required: false
          description: Situação se foi deleito (0 para ambos, 1, para sim; 2 para não eleitos)
        - in: query
          name: round
          schema:
            type: integer
          required: false
        - in: query
          name: partidos
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos partidos
        - in: query
          name: categoriasOcupacoes
          schema:
            type: array
            items:
              type: string
          required: false
          description: Categoria 1 das ocupações (1,2 ...)
        - in: query
          name: cargosIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos cargos (1,2,3...)
      responses:
        '200':
          description: Resposta bem-sucedida com os principais candidatos.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Principais candidatos encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object
  /noauth/cruzamentos/elections/by-location:
    get:
      operationId: 'getElectionsByLocation'
      tags:
        - consult
      summary: Votos por localização nas eleições
      description: Retorna os votos por localização nas eleições.
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: dimension
          schema:
            type: integer
          required: false
          description: Dimensão de agregação (1, 2, 3).
        - in: query
          name: unidadesEleitoraisIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs das unidades eleitorais desejadas.
        - in: query
          name: isElected
          schema:
            type: integer
          required: false
          description: Situação se foi deleito (0 para ambos, 1, para sim; 2 para não eleitos)
        - in: query
          name: round
          schema:
            type: integer
          required: false
        - in: query
          name: partidos
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos partidos
        - in: query
          name: categoriasOcupacoes
          schema:
            type: array
            items:
              type: string
          required: false
          description: Categoria 1 das ocupações (1,2 ...)
        - in: query
          name: cargosIds
          schema:
            type: array
            items:
              type: string
          required: false
          description: IDs dos cargos (1,2,3...)
      responses:
        '200':
          description: Resposta bem-sucedida com os votos por localização.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Votos por localização encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object

  # Indicators - Electoral
  /noauth/indicadores/eleitorais:
    get:
      operationId: 'getElectoralIndicators'
      tags:
        - indicators
      responses:
        '200':
          description: Resposta bem-sucedida com os indicadores possiveis.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Indicadores encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object
  /noauth/indicadores/eleitorais/1:
    get:
      operationId: 'getElectoral01'
      tags:
        - indicators
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: cargoId
          schema:
            type: integer
          required: false
          description: cargo desejado
        - in: query
          name: unidadesEleitorais
          schema:
            type: array
            items:
              type: string
          required: false
          description: Ids das unidades eleitorais desejadas
      responses:
        '200':
          description: Resposta bem-sucedida com os indicadores possiveis.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Indicadores encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object
  /noauth/indicadores/eleitorais/2:
    get:
      operationId: 'getElectoral02'
      tags:
        - indicators
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: cargoId
          schema:
            type: integer
          required: false
          description: cargo desejado
        - in: query
          name: unidadesEleitorais
          schema:
            type: array
            items:
              type: string
          required: false
          description: Ids das unidades eleitorais desejadas
      responses:
        '200':
          description: Resposta bem-sucedida com os indicadores possiveis.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Indicadores encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object
  /noauth/indicadores/eleitorais/3:
    get:
      operationId: 'getElectoral03'
      tags:
        - indicators
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: cargoId
          schema:
            type: integer
          required: false
          description: cargo desejado
        - in: query
          name: unidadesEleitorais
          schema:
            type: array
            items:
              type: string
          required: false
          description: Ids das unidades eleitorais desejadas
      responses:
        '200':
          description: Resposta bem-sucedida com os indicadores possiveis.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Indicadores encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object
  /noauth/indicadores/eleitorais/4:
    get:
      operationId: 'getElectoral04'
      tags:
        - indicators
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: cargoId
          schema:
            type: integer
          required: false
          description: cargo desejado
        - in: query
          name: unidadesEleitorais
          schema:
            type: array
            items:
              type: string
          required: false
          description: Ids das unidades eleitorais desejadas
      responses:
        '200':
          description: Resposta bem-sucedida com os indicadores possiveis.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Indicadores encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object

  # Indicators - Party
  /noauth/indicadores/partidarios:
    get:
      operationId: 'getPartyIndicators'
      tags:
        - indicators
      responses:
        '200':
          description: Resposta bem-sucedida com os indicadores possiveis.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Indicadores encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object
  /noauth/indicadores/partidarios/5:
    get:
      operationId: 'getPartyIndicator05'
      tags:
        - indicators
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: cargoId
          schema:
            type: integer
          required: false
          description: cargo desejado
        - in: query
          name: unidadesEleitorais
          schema:
            type: array
            items:
              type: string
          required: false
          description: Ids das unidades eleitorais desejadas
      responses:
        '200':
          description: Resposta bem-sucedida com os indicadores possiveis.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Indicadores encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object
  /noauth/indicadores/partidarios/6:
    get:
      operationId: 'getPartyIndicator06'
      tags:
        - indicators
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: cargoId
          schema:
            type: integer
          required: false
          description: cargo desejado
        - in: query
          name: unidadesEleitorais
          schema:
            type: array
            items:
              type: string
          required: false
          description: Ids das unidades eleitorais desejadas
      responses:
        '200':
          description: Resposta bem-sucedida com os indicadores possiveis.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Indicadores encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object
  /noauth/indicadores/partidarios/7:
    get:
      operationId: 'getPartyIndicator07'
      tags:
        - indicators
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: cargoId
          schema:
            type: integer
          required: false
          description: cargo desejado
        - in: query
          name: unidadesEleitorais
          schema:
            type: array
            items:
              type: string
          required: false
          description: Ids das unidades eleitorais desejadas
      responses:
        '200':
          description: Resposta bem-sucedida com os indicadores possiveis.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Indicadores encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object
  /noauth/indicadores/partidarios/8:
    get:
      operationId: 'getPartyIndicator08'
      tags:
        - indicators
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: cargoId
          schema:
            type: integer
          required: false
          description: cargo desejado
        - in: query
          name: unidadesEleitorais
          schema:
            type: array
            items:
              type: string
          required: false
          description: Ids das unidades eleitorais desejadas
      responses:
        '200':
          description: Resposta bem-sucedida com os indicadores possiveis.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Indicadores encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object

  # Indicators - Geographical
  /noauth/indicadores/geograficos:
    get:
      operationId: 'getGeographicalIndicators'
      tags:
        - indicators
      responses:
        '200':
          description: Resposta bem-sucedida com os indicadores possiveis.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Indicadores encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object
  /noauth/indicadores/geograficos/9:
    get:
      operationId: 'getGeographical09'
      tags:
        - indicators
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: cargoId
          schema:
            type: integer
          required: false
          description: cargo desejado
        - in: query
          name: unidadesEleitorais
          schema:
            type: array
            items:
              type: string
          required: false
          description: Ids das unidades eleitorais desejadas
      responses:
        '200':
          description: Resposta bem-sucedida com os indicadores possiveis.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Indicadores encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object
  /noauth/indicadores/geograficos/10:
    get:
      operationId: 'getGeographical10'
      tags:
        - indicators
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: cargoId
          schema:
            type: integer
          required: false
          description: cargo desejado
        - in: query
          name: unidadesEleitorais
          schema:
            type: array
            items:
              type: string
          required: false
          description: Ids das unidades eleitorais desejadas
      responses:
        '200':
          description: Resposta bem-sucedida com os indicadores possiveis.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Indicadores encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object
  /noauth/indicadores/geograficos/11:
    get:
      operationId: 'getGeographical11'
      tags:
        - indicators
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: cargoId
          schema:
            type: integer
          required: false
          description: cargo desejado
        - in: query
          name: unidadesEleitorais
          schema:
            type: array
            items:
              type: string
          required: false
          description: Ids das unidades eleitorais desejadas
      responses:
        '200':
          description: Resposta bem-sucedida com os indicadores possiveis.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Indicadores encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object
  /noauth/indicadores/geograficos/12:
    get:
      operationId: 'getGeographical12'
      tags:
        - indicators
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: cargoId
          schema:
            type: integer
          required: false
          description: cargo desejado
        - in: query
          name: unidadesEleitorais
          schema:
            type: array
            items:
              type: string
          required: false
          description: Ids das unidades eleitorais desejadas
      responses:
        '200':
          description: Resposta bem-sucedida com os indicadores possiveis.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Indicadores encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object

  # Indicators - Fianance
  /noauth/indicadores/financeiros:
    get:
      operationId: 'getFinanceIndicators'
      tags:
        - indicators
      responses:
        '200':
          description: Resposta bem-sucedida com os indicadores possiveis.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Indicadores encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object
  /noauth/indicadores/financeiros/13:
    get:
      operationId: 'getFinanceIndicator13'
      tags:
        - indicators
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: cargoId
          schema:
            type: integer
          required: false
          description: cargo desejado
        - in: query
          name: unidadesEleitorais
          schema:
            type: array
            items:
              type: string
          required: false
          description: Ids das unidades eleitorais desejadas
      responses:
        '200':
          description: Resposta bem-sucedida com os indicadores possiveis.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Indicadores encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object
  /noauth/indicadores/financeiros/14:
    get:
      operationId: 'getFinanceIndicator14'
      tags:
        - indicators
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: cargoId
          schema:
            type: integer
          required: false
          description: cargo desejado
        - in: query
          name: unidadesEleitorais
          schema:
            type: array
            items:
              type: string
          required: false
          description: Ids das unidades eleitorais desejadas
      responses:
        '200':
          description: Resposta bem-sucedida com os indicadores possiveis.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Indicadores encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object
  /noauth/indicadores/financeiros/15:
    get:
      operationId: 'getFinanceIndicator15'
      tags:
        - indicators
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: cargoId
          schema:
            type: integer
          required: false
          description: cargo desejado
        - in: query
          name: unidadesEleitorais
          schema:
            type: array
            items:
              type: string
          required: false
          description: Ids das unidades eleitorais desejadas
      responses:
        '200':
          description: Resposta bem-sucedida com os indicadores possiveis.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Indicadores encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object
  /noauth/indicadores/financeiros/16:
    get:
      operationId: 'getFinanceIndicator16'
      tags:
        - indicators
      parameters:
        - in: query
          name: initialYear
          schema:
            type: integer
          required: true
          description: Ano inicial do intervalo.
        - in: query
          name: finalYear
          schema:
            type: integer
          required: true
          description: Ano final do intervalo.
        - in: query
          name: cargoId
          schema:
            type: integer
          required: false
          description: cargo desejado
        - in: query
          name: unidadesEleitorais
          schema:
            type: array
            items:
              type: string
          required: false
          description: Ids das unidades eleitorais desejadas
      responses:
        '200':
          description: Resposta bem-sucedida com os indicadores possiveis.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Indicadores encontrados com sucesso.'
                  data:
                    type: array
                    items:
                      type: object
